APP_DEBUG = true
APP_TRACE = false
APP_FRONTEND_URL = http://localhost:3006 //修改为前端地址

[DATABASE]
TYPE = mysql
HOSTNAME = localhost
DATABASE = vmq
USERNAME = root
PASSWORD = 
HOSTPORT = 3306
CHARSET = utf8
PREFIX = 
DEBUG = true

[REDIS]
HOST = 127.0.0.1
PORT = 6379
PASSWORD = 
SELECT = 0

[CACHE]
DRIVER = file

[SESSION]
DRIVER = file 
